@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hola Mundo</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>Probando</h1>
<h1>Probando otra vez</h1>
<h1>Probando otra vez 2</h1>
<h1>Probando otra vez 3</h1>


<h1>Probando otra vez 4</h1>
<h1>Probando otra vez 5</h1>
<h1>Probando otra vez 6</h1>

<h1>Probando otra vez 7</h1>