@model MULTI_ProWeb.Models.Cliente
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <section>
        <div class="container">
            <div class="user singinBx">
                <div class="imgBx"><img src="~/imagenes/img2.jpeg" width="100" /></div>

                <div class="formBx">
                    <form asp-controller="Principal" asp-action="RegisterUsuario" method="post">
                        <h2>Registrate</h2>

                        <input asp-for="Nombre" class="form-control" id="formGroupExampleInput" placeholder="Nombre" autofocus>
                        <span asp-validation-for="Nombre" class="text-danger"></span>

                        <input asp-for="Apellidos" class="form-control" id="formGroupExampleInput" placeholder="Apellidos" autofocus>
                        <span asp-validation-for="Apellidos" class="text-danger"></span>

                        <input asp-for="Dni" class="form-control" id="formGroupExampleInput" placeholder="DNI" autofocus>
                        <span asp-validation-for="Dni" class="text-danger"></span>


                        <input asp-for="Domicilio" class="form-control" id="formGroupExampleInput" placeholder="Domicilio" autofocus>
                        <span asp-validation-for="Domicilio" class="text-danger"></span>

                        <input asp-for="Telefono" class="form-control" id="formGroupExampleInput" placeholder="Teléfono" autofocus>
                        <span asp-validation-for="Telefono" class="text-danger"></span>

                        <input asp-for="Correo" class="form-control" id="formGroupExampleInput" placeholder="Correo" autofocus>
                        <span asp-validation-for="Correo" class="text-danger"></span>

                        <
                        <input type="password" name="" placeholder="Create Password">
                        <input type="password" name="" placeholder="Confirm Password">
                        <input type="submit" name="" value="Crear cuenta">
                        <p class="singup">¿Ya tienes una cuenta registrada? <a asp-controller="Principal" asp-action="log" onclick="toggleForm();">Iniciar Sesion</a></p>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript" src="~/js/app.js"></script>
</body>
</html>